/* height: 50px !important; */
*{
	margin:0px;
	padding:0px;
	
}

.App{
	background:#1f9cff;
	height:100vh;
	color:white;
	
	
	  /* la imagen a ser mostrada a pantalla completa */
    background:url('https://cdn.pixabay.com/photo/2021/07/17/18/59/waterfall-6473754_960_720.jpg') no-repeat center center;
 /* https://cdn.pixabay.com/photo/2019/03/21/20/27/south-tyrol-4071865_960_720.jpg */
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
    min-height:100%;
 
    /* Propiedad a utilizar para la imagen */
    background-size:cover;

	display:flex;
	justify-content: center;
	align-items: center;

}



.Login{
	background:#131111b8;
	width:400px;
	padding:10px;
	border-radius:20px;

}

.form-login{
	padding:20px;
	
}

.titel-login{
	text-align:center;
	margin-bottom:5px;
}

form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #1893f5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size:20px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}