/* Globales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* .body2 {
	margin: 0 auto;
	max-width: 1200px;
	font-family: 'Lato';
	color: #333;
} */

#icon-cart2 {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

#icon-cart2:hover {
	cursor: pointer;
}

#img2 {
	max-width: 100%;
	margin-top: 0;
}

/* Header */
#header2 {
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
	margin-top: 0;
	justify-content: space-around;
	align-items: flex-end;
}

#container-icon2 {
	position: relative;
}

#count-products2 {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #01655B;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products2 {
	position: absolute;
	top: 50px;
	right: -12px;

	background-color: #fff;
	width: 370px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#cart-product2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#info-cart-product2 {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

#titulo-producto-carrito2 {
	font-size: 20px;
	color: #000;
}

#precio-producto-carrito2 {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
	color: #000;
}

#cantidad-producto-carrito2 {
	font-weight: 400;
	font-size: 20px;
	color: #000;
}

#icon-close2 {
	width: 25px;
	height: 25px;
}

#icon-close2:hover {
	stroke: red;
	cursor: pointer;
}

#cart-total2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
	color: #000;
}

#cart-total-h3 {
	font-size: 20px;
	font-weight: 700;
}

#total-pagar2 {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	background-color: #013d37;
}
.card-plan2{
	padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
        300px,
        1fr
        )
    )
}

.item2 {
	font-family: "Poppins", sans-serif;
	border-radius: 10px;
	background-color: #01655B;
}

.item2:hover {
	box-shadow: 0 10px 20px rgba(155, 19, 19, 0.2);
}

.imgwitdh{
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.figure {
	overflow: hidden;
	display: block;
}

#img2:hover {
	transform: scale(1.2);
}
#colorBadgra{
	background-color: #01655B;
}

.info-product {
	color: #fff;
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.button1 {
	border: none;
	background: none;
	background-color: #00e676;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
	margin-bottom: 6px;
}

#button3 {
	border: none;
	background: none;
	background-color: #00e676;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}
#cart-empty2 {
	padding: 20px;
	text-align: center;
	color: #000;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}
/*btn 2*/
.btn-clear-all-2 {
	border: none;
	background-color: #00e676;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover,
.btn-clear-all-2:hover{
	border-radius: 5px;
  
  transform: scale(1.03);
  border-radius: 0;
}
/* Modal contactos */
.ModalContacto{
	font-family: "Poppins", sans-serif;
 color: #fff;
  padding: 30px;
  border-radius: 10px;
  background: #013D37;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: 430px;
  height: 500px;
  }
  
  .contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .formulario-modal {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
  }
  
  label {
	font-weight: bold;
  }
  
  input,
  textarea {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: auto;
  }
  
  input[type="submit"] {
	background-color: #11131e;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
.label-style{
	outline: none;
	border-radius: 7px;
}
.form-group-textarea {
	resize: vertical;
	height: 100px;
  }