/* INICIO HOME */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  background: #013d37;
}
.rowcontainer {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
/* Hero */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url(src/img/website-images/images/bg-dot.png), url(src/img/website-images/images/bg-dot.png), url(src/img/website-images/images/bg-round.png), url(src/img/website-images/images/bg-tree.png);
  background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
  background-repeat: no-repeat;
}
.curveImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.hero .row {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 0 60px;
  gap: 30px;
  justify-content: space-between;
}
.hero .row h2,
.hero .row p {
  color: #fff;
}
.hero .row h2 {
  font-size: 36px;
  margin-bottom: 16px;
}
.hero .column {
  width: 50%;
}
.buttons {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.btn {
  padding: 14px 26px;
  background: #9c6b4b;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}
.btn:last-child {
  border: 2px solid #9c6b4b;
  background: transparent;
  color: #9c6b4b;
}
.btn:last-child:hover {
  background-color: #fff;
  color: #013d37;
}
.hero_img {
  width: 100%;
  z-index: 10;
  position: relative;
}
/* Reponsive */
@media (width < 860px) {
 
  .hero {
    padding-top: 130px;
  }
  .hero .row {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }
  .hero .row .column {
    width: 100%;
  }
}
@media (width < 600px) {
  .hero {
    padding-top: 80px;
  }
  .hero .row h2 {
    font-size: 26px;
  }
  .buttons {
    justify-content: center;
  }
  .btn {
    padding: 10px 16px;
  }
}
/* FIN HOME */